body{
 /* background-image: url('/proyecto/menu/fondo.jpg'); */
 background-color: #227BD5; /*Azul Frio*/
 background-color: #CAD4DD; /*Azul Frio*/

}


div{
    border-top: none !important;
 }

 #login{
    background: rgba(255,255,255,0.8);
    /* margin-left: -35%;
    margin-top: 30%;
    border-radius: 5%; */
}

#frio{
    width: auto;
    height: auto;
    margin: auto;
    display: block;
}
