<div class="modal-dialog">
  <div id="login" class="modal-content">
    <div class="modal-header text-center">
      <!-- <img id="frio" src="/proyecto/frio-express-logo.png"> -->
      <img id="frio" src="menu/frio-express-logo.png">
    </div>
    <div class="modal-body">
      <form class="col-md-12" ng-submit="boton()">
        <div class="form-group">
          <input type="text"  id="names" name="usuario" placeholder="&#128272; Usuario" class="user form-control input-lg" required autofocus ng-model="usuario" onkeyup="convert();" >
        </div>
        <div class="form-group">
          <input type="password" name="contrasena" placeholder="&#128272; Ingresa tu contraseña" class="form-control input-lg" required ng-model="contra">
        </div>
        <div class="form-group">
          <input type="submit" name="boton" value="login" class="btn btn-primary btn-lg btn-block" >
        </div>
            <script type="text/jscript">
              function convert()
              {
                var a = document.getElementsById('names').value;
                document.getElementsById('names').value = a.toUpperCase();

              }
            </script>
      </form>
    </div>
  </div>
</div>
