/* *{
  margin:0;
  padding: 0;
box-sizing: border-box;

} */

body{
 background-image:url(../sources/fondo2.jpg);
}


div{
    border-top: none !important;
 }

 #login{
    background: rgba(255,255,255,0.8);
    /* margin-left: -35%;
    margin-top: 30%;
    border-radius: 5%; */
}

#frio{
    width: auto;
    height: auto;
    margin: auto;
    display: block;
}
